.page-cont {
    display: flex;
    flex-direction: column;
  }
  
  .card {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
  }
  
  .list-item {
    display: flex;
    flex-basis: 50%;
    padding: 5px;
    align-items: center;
  }
  
  .content {
    flex: 1;
  }
  
  .action-button {
    margin-left: auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .action-button:hover {
    background-color: #0056b3;
  }

  .save-button {
    width: 10rem;
    display: block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .save-button:hover {
    background-color: #0056b3;
  }
  